<main class = 'container main_div'>
  <div class = 'div_category_home'>
    <ul class = 'ul_category_home'>
      <li>Por outro lado</li>
      <li>o fenômeno da Internet</li>
      <li>não pode mais se</li>
      <li>dissociar das direções</li>
      <li>preferenciais no</li>
      <li>sentido do progresso.</li>
      <li>a competitividade nas transações</li>
      <li>comerciais deve passar por</li>
      <li>modificações independentemente</li>
    </ul>
  </div>
  <img src="assets/image/home-carousel.png" alt="iPhone14" class="img_home_carousel">
</main>

<section class="container todays_product">
  <span class="p_decoration"></span>
  <span class="p_today">
    Hoje
  </span>
  <h1>Produtos para você</h1>
</section>
