<header class="main_div_adm">
  <div class="top_bar_adm">
    <ul>
      <li class="li_top_bar_text"><img src="assets/icon/home_icon.png" alt="home" class="top_bar_icon">Início</li>
      <li class="li_top_bar_text"><img src="assets/icon/content_icon.png" alt="content" class="top_bar_icon">Conteúdo</li>
      <li class="li_top_bar_text"><img src="assets/icon/category_icon.png" alt="category" class="top_bar_icon">Categorias</li>
      <li class="li_top_bar_text"><img src="assets/icon/settings_icon.png" alt="settings" class="top_bar_icon">Configurações</li>
    </ul>
    <div class="section_info_container">
      <img [src]="profileImageUrl" alt="profile" class="profile_pic">
      {{ profileName }}
    </div>
  </div>
</header>
