<header>
  <div class="top_bar">aseroigharoghrghughdsaruigugdsfhjgvdfklhgalgaugaupgy</div>
  <div class="container">
    <nav class="nav_container">
      <div class="nav_logo">Exclusive</div>
      <ul class= 'display_navigator'>
        <li><a href="">Página inicial</a></li>
        <li><a href="">Contato</a></li>
        <li><a href="">Sobre</a></li>
        <li><a href="">cadastre-se</a></li>
      </ul>
      <ul class= 'display_navigator'>
        <li>
          <input type="text">
        </li>
        <li>2</li>
        <li>3</li>
      </ul>
    </nav>
  </div>
</header>
